@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/Button.css");
@import url("components/banner.css");
@import url("components/card.css");



body{
	font-family: 'lora', serif;
	font-size: 18px;
	margin: 0px;
}

h1, h2, h3{
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

p{
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
}